# AWS CLI
PROFILE_NAME=
AWS_REGION=

# RDS
DB_HOST=localhost # through ssh tunnel to an ec2 instance
DB_PORT=5432
DB_NAME=
DB_USER= # writer username
DB_PASSWORD= # writer password

# S3
BUCKET_NAME=

# ECS
# ALLOWED_ORIGINS= assigned from secret manager
DB_READER_HOST= # reader endpoint
# DB_READER_PORT= assigned from CloudFront
DB_READER_USER= # reader username
DB_READER_PASSWORD= # reader password

# API TOKEN
THREADS_ACCESS_TOKEN=
ANTHROPIC_API_KEY=

# Tagging
GENERAL_TAGGER_MODEL=claude-haiku-4-5-20251001
SPECIFIC_TAGGER_MODEL=claude-haiku-4-5-20251001

# Testing
ALLOWED_ORIGINS=http://localhost:5500
DB_HOST=localhost
DB_PORT=5433 # not to mess up with RDS
DB_USER=
DB_PASSWORD=